$background-color: #1b1b32;
$text-color: #ffffff;
$text-color-additional: #888888;
$text-color-additional-1: #59c699;
$text-color-additional-2: #ff0;;
$textarea-bgcolor: #0a0a23;
$keyboard-color: #3b3b4e;
$border-color: #1c1c1c;
$key-color: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.75), rgba(255,255,255,.35));
$symbol-color: #1c1c1c;

